language: clojure
lein: 2.9.1
dist: trusty
script: lein do clean, javac, test :all, with-profile test-encoding test


# Cache our Maven deps to be kind to clojars, github, docker images
cache:
    directories:
    - $HOME/bin
    - $HOME/.m2
jdk:
    - oraclejdk8
    - openjdk11

before_install:
    # ES5 needs this
    - sudo sysctl -w vm.max_map_count=262144
    # create log & bin dir if missing
    - mkdir -p $LOG_DIR
    - mkdir -p $BIN_DIR

    #https://github.com/travis-ci/travis-ci/issues/5227
    - echo "127.0.0.1 "`hostname` | sudo tee /etc/hosts

    # install docker-compose if not in cache
    - if [ ! -f $COMPOSE_BIN ]; then curl -L {$COMPOSE_URI}/docker-compose-`uname -s`-`uname -m` > $COMPOSE_BIN; fi
    - chmod +x $COMPOSE_BIN 

before_script:
    - $COMPOSE_BIN -f containers/docker-compose.yml up -d > $COMPOSE_LOG
    # Wait ES
    - until curl http://127.0.0.1:9205/; do sleep 1; done
    - until curl http://127.0.0.1:9207/; do sleep 1; done

services:
    - docker 

env:
    global:
      - LOG_DIR=$HOME/log
      - BIN_DIR=$HOME/bin
      - COMPOSE_URI=https://github.com/docker/compose/releases/download/1.25.3
      - COMPOSE_BIN=$HOME/bin/docker-compose-1-25-3
      - COMPOSE_LOG=$HOME/log/docker-compose.log
