services:
  es7:
    image: elasticsearch:7.10.1
    environment:
      - cluster.name=elasticsearch7
      - discovery.type=single-node
      - xpack.security.enabled=true
      - xpack.security.authc.api_key.enabled=true
      - ELASTIC_PASSWORD=ductile
    ports:
      - "9207:9200"
      - "9307:9300"

  opensearch2:
    image: opensearchproject/opensearch:2.19.0
    environment:
      - cluster.name=opensearch2
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9202:9200"
      - "9302:9300"

  opensearch3:
    image: opensearchproject/opensearch:3.1.0
    environment:
      - cluster.name=opensearch3
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9203:9200"
      - "9303:9300"
